.entete__header{
  background-image: url("images/hornet.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 100% 50%;
}

@media (max-width: 480px){
.entete__header{
  background-position: center;
}
}
