body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.global{
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.global > section,
.global > header,
.global > footer{
  // flex: grow (0=non 1=oui), shrink, basis (width base)
  flex: 0 1 1100px;
  // border: 1px solid var(--couleur-noir);
  // background-color: rgba(#000, .2);
  padding: 5rem 1rem;
}

.global > header{
  flex: 1;
}

#entete{
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-entete);
  position: relative;
}

#accueil{
  background-color: var(--couleur-arriere-accueil);
  color: var(--couleur-accueil);
}

#galerie{
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-galerie);
  z-index: 1;
  background: linear-gradient(180deg, var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-evenement) 50%);
}

#evenement{
  background-color: var(--couleur-arriere-evenement);
  color: var(--couleur-evenement);
  position: relative;
}

#footer{
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-footer);
}

blockquote {
  font-style: italic;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  background-color: var(--couleur-blanc);
}

@media (max-width: 480px){
  .entete__header{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}