:root{
  --couleur-arriere-entete: #9bc2c7;
  --couleur-arriere-accueil: #4d99c8;
  --couleur-arriere-galerie: #76b8e7;
  --couleur-arriere-evenement: rgb(20, 199, 205);
  --couleur-arriere-footer: #003d69;
}