:root{
  /*
  --couleur-arriere-entete: #9bc2c7;
  --couleur-arriere-accueil: #4d99c8;
  --couleur-arriere-galerie: #76b8e7;
  --couleur-arriere-evenement: rgb(20, 199, 205);
  --couleur-arriere-footer: #003d69;
  // --couleur-opacity: rgba(#ff00fb, .1);
  --largeur-max: 900px;
  --couleur-noir: rgb(238, 0, 255);
  */

  --nb-element: 5;
  --increment-angle: calc(360deg / var(--nb-element));
  // 360 / 5 = 72
  --angle-initial: 180deg;
  --hu1: var(--angle-initial);
  --hu2: calc(var(--hu1) + var(--increment-angle));
  --hu3: calc(var(--hu2) + var(--increment-angle));
  --hu4: calc(var(--hu3) + var(--increment-angle));
  --hu5: calc(var(--hu4) + var(--increment-angle));

  --s-arriere: 100%; //saturation
  --l-arriere: 75%; //luminosité
  --s-couleur: 100%;
  --l-couleur: 15%;

  /*
  --couleur-arriere-entete: hsl(var(--hu1), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-accueil: hsl(var(--hu2), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-galerie: hsl(var(--hu3), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-evenement: hsl(var(--hu4), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-footer: hsl(var(--hu5), var(--s-arriere), var(--l-arriere));
  */
  --largeur-max: 900px;
  --couleur-noir: rgb(238, 0, 255);
  --couleur-blanc: #fff;

  --couleur-entete: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
  --couleur-accueil: hsl(var(--hu2), var(--s-couleur), var(--l-couleur));
  --couleur-galerie: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));
  --couleur-evenement: hsl(var(--hu2), var(--s-couleur), var(--l-couleur));
  --couleur-footer: hsl(var(--hu1), var(--s-couleur), var(--l-couleur));


  --couleur-arriere-entete: hsl(var(--hu1), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-accueil: hsl(var(--hu2), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-galerie: hsl(var(--hu1), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-evenement: hsl(var(--hu2), var(--s-arriere), var(--l-arriere));
  --couleur-arriere-footer: hsl(var(--hu1), var(--s-arriere), var(--l-arriere));
}