:root{
  /*
  --couleur-arriere-entete: #9bc2c7;
  --couleur-arriere-accueil: #4d99c8;
  --couleur-arriere-galerie: #76b8e7;
  --couleur-arriere-evenement: rgb(20, 199, 205);
  --couleur-arriere-footer: #003d69;
  // --couleur-opacity: rgba(#ff00fb, .1);
  --largeur-max: 900px;
  --couleur-noir: rgb(238, 0, 255);
  */

  --couleur-arriere-entete: hsl(200, 100%, 50%);
  --couleur-arriere-accueil: hsl(260, 100%, 50%);
  --couleur-arriere-galerie: hsl(320, 100%, 50%);
  --couleur-arriere-evenement: hsl(20, 100%, 50%);
  --couleur-arriere-footer: hsl(80, 100%, 50%);
  --largeur-max: 900px;
  --couleur-noir: rgb(238, 0, 255);

  --couleur-entete: hsl(200, 100%, 15%);
  --couleur-accueil: hsl(260, 100%, 15%);
  --couleur-galerie: hsl(320, 100%, 15%);
  --couleur-evenement: hsl(20, 100%, 15%);
  --couleur-footer: hsl(80, 100%, 15%);

}