.carte{
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(1010px/4);
  padding: 1rem;
  background-color: hsl(var(--hu1), var(--s-arriere1), 7%);
}

.section__cours{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  // justify-content: center;
}

// @media (max-width: 480px){
//   .carte{
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding: 2rem;
//     flex: auto;
//   }
// }
